body {
	background: grey;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
.card {
	width: 200px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
}
.card img {
	width: 100%;
}
.showModal {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid black;
	cursor: pointer;
	text-transform: uppercase;
}

.outer-modal {
	display: grid;
	place-items: center center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: hsla(0, 0%, 0%, 0.7);
	pointer-events: none;
	opacity: 0;
}

.outer-modal.open {
	pointer-events: all;
	opacity: 1;
}

.inner-modal {
	background-color: white;
	min-width: 300px;
	min-height: 300px;
}
